{
    "presets": ["@babel/preset-env"]
}
// or you can use like this
// use: {
//    loader: 'babel-loader',
//    options: {
//      presets: ['@babel/preset-env'],
//      plugins: ['@babel/plugin-proposal-object-rest-spread']
//    }
//  } - inside your webpack.config.js