@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

body {
  margin: 0;
  background-color: rgb(236, 236, 236);
  font-family: 'Open Sans', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Open Sans', serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

h2 {
  font-family: 'Open Sans', serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

h3 {
  font-family: 'Open Sans', serif;
  font-size: 13px;
  line-height: 23px;
  font-weight: 600;
}

p {
  font-family: 'Open Sans', serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  opacity: 0.9;
}

.weather-app {
  position: relative;
  margin: 20px;
  width: 590px;
  height: 500px;
  border-radius: 5px;
  padding: 20px;
  background-color: rgb(248, 248, 248);
}

.weather-app > h1 {
  border-bottom: 1px solid red;
}

.input-box {
  position: relative;
  width: 360px;
  height: 20px;
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  background-color: #fff;
  display: inline-block;
  float: left;
}

.input-box > .label {
  position: absolute;
  font-family: 'Open Sans', serif;
  top: 0px;
  left: 15px;
  font-size: 14px;
  font-weight: bold;
}

.input-box > input {
  position: absolute;
  top: 17px;
  left: 10px;
  width: 90%;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 13px;
}

.search-results {
  position: absolute;
  width: 500px;
  top: 94px;
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.search-option {
  position: relative;
  background: rgb(255, 149, 63);
  background: linear-gradient(
    90deg,
    rgba(255, 50, 82, 1) 0%,
    rgba(148, 0, 148, 1) 100%
  );
  display: inline-block;
  margin: 3px;
  padding: 4px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.weather-report {
  position: relative;
  width: 550px;
  height: 350px;
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  background-color: #fff;
}

.set-units {
  position: relative;
  width: 188px;
  height: 20px;
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  background-color: #fff;
  display: inline-block;
}

.set-units > label {
  position: absolute;
  top: 0px;
  left: 15px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Open Sans', serif;
  display: block;
}

.set-units > select {
  position: absolute;
  left: 7px;
  top: 24px;
  width: 140px;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 13px;
  font-family: 'Open Sans', serif;
  border-radius: 0px;
}

.big {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0px;
}

.weather-report > .conditions {
  position: absolute;
  top: 60px;
  left: 26px;
  font-size: 0.6rem;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0.2px;
}

.weather-report > img {
  position: absolute;
  width: 70px;
  right: 25px;
  top: 20px;
  background: rgb(235, 168, 141);
  border-radius: 50px;
}

.weather-report > .temperature,
.wind,
.pressure {
  position: absolute;
  top: 120px;
  width: 500px;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.weather-report > .wind {
  top: 190px;
}

.weather-report > .pressure {
  top: 272px;
}

.weather-report > .temperature h2,
p {
  margin: 0px;
}

.weather-report > .temperature > div {
  position: relative;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(193, 0, 212, 1) 0%,
    rgba(255, 113, 42, 1) 100%
  );
  padding: 8px;
  margin: 2px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  flex: auto;
}

.weather-report > .wind > div {
  position: relative;
  text-align: center;
  height: 55px;
  background: linear-gradient(
    30deg,
    rgb(148, 0, 148) 0%,
    rgb(224, 71, 143) 100%
  );
  color: rgb(255, 255, 255);
  padding: 8px;
  margin: 2px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  flex: auto;
}

.weather-report > .pressure > div {
  position: relative;
  text-align: center;
  height: 55px;
  background: linear-gradient(
    30deg,
    rgb(0, 174, 255) 0%,
    rgb(81, 71, 226) 100%
  );
  color: rgb(255, 255, 255);
  padding: 8px;
  margin: 2px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  flex: auto;
}

.error-panel {
  position: absolute;
  top: 150px;
  content: 'DD';
  width: 500px;
  height: 325px;
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  background-color: #fff;
}

.error-panel::after {
  position: absolute;
  width: 500px;
  height: 325px;
  top: 170px;
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.3);
  content: 'Oops! Looks like our server is down!';
  text-align: center;
}

.is-loading {
  position: relative;
  content: 'DD';
  width: 500px;
  height: 325px;
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  background-color: #fff;
}

.is-loading::after {
  position: absolute;
  width: 500px;
  height: 325px;
  top: 170px;
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.3);
  content: 'Please wait...';
  text-align: center;
}